body{
    background-image: linear-gradient(#ffffff 20%, aliceblue);
    height: 640vh;
    overflow-x: hidden;
    margin: 0;
}

.pozadi1{
    position: absolute;
    top: 0px;
    height: 700px;
    width: 3000px;
    background-image: linear-gradient(175deg,#5134b9 30%, #ee7d51);
    z-index: -10;
}
.pozadi2{
    position: absolute;
    top: 1100px;
    height: 1200px;
    width: 3000px;
    background-image: linear-gradient(#2a0e43,#361354);
    z-index: -10;
}
.pozadi3{
    position: absolute;
    top: 2200px;
    height: 1200px;
    width: 3000px;
    background-image: linear-gradient(#5a1356,#791d5b);
    z-index: -10;
}
.pozadi4{
    position: absolute;
    top: 3300px;
    height: 1200px;
    width: 3000px;
    background-image: linear-gradient(#7af3fb,#285c60 90%);
    z-index: -10;
}
.pozadi5{
    position: absolute;
    top: 4400px;
    height: 1200px;
    width: 3000px;
    background-image: linear-gradient(#92f0a2,#5eb46c);
    z-index: -10;
}
.nadpis{
    position: relative;
    display: flex;
    justify-content: center;
    top: 200px;
}

.nadpis h1{
    color: #ffffff;
    font-family: lexend;
    font-size: 70px;
}

.sekce1{
    position: relative;
    display: flex;
    justify-content: center;
    top: 600px;
}
.contentduch1{
    display: flex;
    justify-content: space-evenly;
}
.sekce1 h2{
    padding-right: 400px;
    font-family: lexend;
    width: 500px;
}
.contentduch1 img{
    z-index: 10;
    width: 500px;
    position: relative;
    top: -100px;
}
.sekce2{
    position: relative;
    top: 800px;
}
.nadpis2{
    color: #ffffff;
    font-family: lexend;
    text-align: center;
    font-size: 50px;
}
.contentdp{
    color: #ffffff;
    font-family: lexend;
    display: flex;
    justify-content: space-evenly;
}
.dp{
    width: 500px;
    font-size: 25px;
    position: relative;
    top: 25px;
}
.contentdp img{
    width: 500px;

}
.contentpo{
    position: relative;
    top: 600px;
    color: #ffffff;
    font-family: lexend;
    display: flex;
    justify-content: space-evenly;
}
.po{
    width: 500px;
    font-size: 25px;
    position: relative;
    top: 25px;
}
.contentpo img{
    width: 500px;

}
.contentadhd{
    position: relative;
    top: 1100px;
    color: #ffffff;
    font-family: lexend;
    display: flex;
    justify-content: space-evenly;
}
.adhd{
    width: 500px;
    font-size: 25px;
    position: relative;
    top: 25px;
}
.contentadhd img{
    width: 500px;

}
.contentptsd{
    position: relative;
    top: 1700px;
    color: #ffffff;
    font-family: lexend;
    display: flex;
    justify-content: space-evenly;
}
.ptsd{
    width: 500px;
    font-size: 25px;
    position: relative;
    top: 25px;
}
.contentptsd img{
    width: 500px;

}
html{
    scroll-behavior: smooth;
}

    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background: #4d4d4d;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 1px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
        border-radius: 1px;
    }

@font-face {
    font-family: lexend;
    src: url(/bohnice/assets/fonts/Lexend-Regular.ttf);
}

@font-face {
    font-family: poiret;
    src: url(/bohnice/assets/fonts/PoiretOne-Regular.ttf);
}

@font-face {
    font-family: tera;
    src: url(/bohnice/assets/fonts/LexendTera-Regular.ttf);
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
  }